
<script>
    $(function () {
        $("[rel='tooltip']").tooltip();
    });
</script>

<div class="container" style="background-color: rgb(63, 63, 252);">
    <% for (var i = 0; i < graphs.length; i+= 2){ %>
    <div class="row" style="width: 100%; margin-bottom: 50px;">
        <div class="col-md-3" style="border-radius: 25px; margin-top: 15px; margin-left: 2% ; width: 46%; height: 50vh; background-color: white;">
            <% if (graphs[i].type == "line"){ %>
            <button style="position: absolute; right:10%; margin-top: 10px;" onclick={resetZoom('<%= i %>')} >Reset</button>
            <% } %>
            <canvas style="margin-top: 15px;" id='<%= graphs[i].id %>'></canvas>  </canvas>
            <button type="button" rel="tooltip" style="position: absolute; left: 10%;"  data-toggle="tooltip" data-placement="left"
            title='<%= graphs[i].title %>'>
            B
            </button>
        </div>
        <div class="col-md-3" style="border-radius: 25px; margin-top: 15px; margin-left: 2% ; width: 46%; height: 50vh; background-color: white;">
            <% if (graphs[i+1].type == "line"){ %>
            <button style="position: absolute; right:10%; margin-top: 10px;" onclick={resetZoom('<%= i+1 %>')} >Reset</button>
            <% } %>
            <canvas style="margin-top: 15px;" id='<%= graphs[i+1].id %>'></canvas>  </canvas>
            <button type="button" rel="tooltip" style="position: absolute; left: 10%;"  data-toggle="tooltip" data-placement="left"
            title='<%= graphs[i+1].title %>'>
            B
            </button>
        </div>
    </div>
    <% } %>
</div>
