<div class="panel panel-default" style="background-color: rgb(63, 63, 252);">
    <div class="panel-heading">
        <div class="navbar">
            <div class="row">
                <div class="col-md-3">
                   <h3 class="font-net"> Warnings <i rel="tooltip" data-toggle="tooltip" data-placement="left" title='<%= netStatus.lastWarningMsg %>'
                       class="fa fa-warning background-tooltip" style="font-size:17px; color: yellow;" aria-hidden="true"></i> : <%=  netStatus.warningsAmount %></h3>
                </div>
                <div class="col-md-3">
                    <h3 class="font-net"> Freq <i class="fa fa-tachometer" style="font-size:17px; color:rgb(161, 116, 252);" aria-hidden="true"></i> : <%=  netStatus.lastFreq %>Hz</h3>
                </div>
                <div class="col-md-3">
                    <h3 class="font-net"> Last Data update <i class="fa fa-calendar" style="font-size:17px; color:rgb(161, 116, 252);" aria-hidden="true"></i> : <%=  netStatus.lastUpdate %></h3>
                </div>
                <div class="col-md-3">
                    <h3 class="font-net"> Total Consumption <i class="fa fa-bolt" style="font-size:17px; color:rgb(161, 116, 252);" aria-hidden="true"></i> : <%=  netStatus.totalConsumption %>MW</h3>
                </div>
            </div>
        </div>
    </div>
</div>